<div class="containter mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %> <br>
      <%= f.input :photos , as: :file, input_html: { multiple: true }, class: "form-control"%> <br>
      <%= f.submit "Submit movie", class: "btn btn-success"%>
      <%= link_to 'cancel', :back,   class: "btn btn-success"%>
    <% end %>
    </div>
  </div>
</div>
